kubernetes==4.0.0
# remainder from pip freeze:
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
google-auth==1.4.1
idna==2.6
ipaddress==1.0.19
# kubernetes==4.0.0
oauthlib==2.0.6
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
six==1.11.0
urllib3==1.22
websocket-client==0.40.0
