# This file is the input to requirements.txt,
# which is a frozen version of this. To update
# requirements.txt, use the "Run workflow" button at
# https://github.com/jupyterhub/zero-to-jupyterhub-k8s/actions/workflows/watch-dependencies.yaml
# that will also update the jupyterhub version if needed.
# README.md file.

# JupyterHub itself, update this version pinning by running the workflow
# mentioned above.
jupyterhub==4.0.2

# UI
jupyterlab
nbclassic

# plugins
nbgitpuller
