# This file is the input to requirements.txt,
# which is a frozen version of this. To update
# requirements.txt, use the "Run workflow" button at
# https://github.com/jupyterhub/zero-to-jupyterhub-k8s/actions/workflows/watch-dependencies.yaml
# that will also update the jupyterhub version if needed.
# README.md file.

# JupyterHub itself, update this version pinning by running the workflow
# mentioned above.
jupyterhub==3.0.0

## Authenticators
jupyterhub-firstuseauthenticator>=1
jupyterhub-hmacauthenticator
jupyterhub-ldapauthenticator
jupyterhub-ltiauthenticator!=1.3.0
jupyterhub-nativeauthenticator
jupyterhub-tmpauthenticator
nullauthenticator
oauthenticator

# Authenticator optional dependencies
mwoauth
pyjwt

## Kubernetes spawner
jupyterhub-kubespawner

## Other optional dependencies for additional features
pymysql  # mysql
psycopg2-binary  # postgres
pycurl  # internal http requests handle more load with pycurl
sqlalchemy-cockroachdb # cocroachdb
statsd  # statsd metrics collection (TODO: remove soon, since folks use prometheus)

# The idle culler service
jupyterhub-idle-culler

## Useful tools

# py-spy is useful for profiling running hubs
py-spy
