# This file is automatically maintained by Dependabot, as configured in
# .github/dependabot.yaml. It can also be updated by...
#
#    ./dependencies freeze --upgrade
#

# JupyterHub itself
jupyterhub

## Authenticators
jupyterhub-firstuseauthenticator>=1
jupyterhub-hmacauthenticator
jupyterhub-ldapauthenticator
jupyterhub-ltiauthenticator
jupyterhub-nativeauthenticator
jupyterhub-tmpauthenticator
nullauthenticator
oauthenticator

# Authenticator optional dependencies
mwoauth
pyjwt

## Kubernetes spawner
jupyterhub-kubespawner

## Other optional dependencies for additional features
pymysql  # mysql
psycopg2-binary  # postgres
pycurl  # internal http requests handle more load with pycurl
sqlalchemy-cockroachdb # cocroachdb
statsd  # statsd metrics collection (TODO: remove soon, since folks use prometheus)

# The idle culler service
jupyterhub-idle-culler

## Useful tools

# py-spy is useful for profiling running hubs
py-spy
