statsd==3.2.1
jupyterhub-dummyauthenticator==0.3.1
jupyterhub-tmpauthenticator==0.4
jupyterhub-ltiauthenticator==0.1
nullauthenticator==1.0
pymysql==0.7.11
psycopg2==2.7.1
pycurl==7.43.0
mwoauth==0.3.2
globus_sdk[jwt]==1.2.1
oauthenticator==0.7.2
cryptography==2.0.3
git+https://github.com/jupyterhub/kubespawner@5c9bf38
