# JupyterHub's version is defined in chartpress.yaml

## Authenticators
jupyterhub-dummyauthenticator==0.3.*
jupyterhub-firstuseauthenticator==0.12.*
jupyterhub-tmpauthenticator==0.6.*
jupyterhub-ltiauthenticator==0.4.*
jupyterhub-ldapauthenticator==1.3.*
jupyterhub-hmacauthenticator==0.1.*
jupyterhub-nativeauthenticator==0.0.5
mwoauth==0.3.7
globus_sdk[jwt]==1.8.*
nullauthenticator==1.0.*
oauthenticator==0.11.*

## Spawners
jupyterhub-kubespawner==0.11.*
kubernetes==10.0.*

## Other dependencies
pymysql==0.9.*
psycopg2-binary==2.8.*
pycurl==7.43.0.*
statsd==3.3.*
cryptography==2.8.*

## Useful tools

# py-spy is useful for profiling running hubs
py-spy
