# Default values for jupyterhub-k8s.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Name of this installation. Will be used to create namespace
# and storageclass. Must be a valid DNS label
# HACK: need to get rid of this, purely use --namespace only
name: null

# Ideally, we should not be creating namespaces in our templates.
# Helm can create the when you use --namespace, and we should
# just use those. However, leaving this here for a while to
# make sure we do not break current installations.
createNamespace: false

hub:
  baseUrl: "/"
  cookieSecret: null
  db:
    type: sqlite-pvc
    url: null
  labels: null
  image:
    name: yuvipanda/jupyterhub-k8s-hub
    tag: v0.1
  resources:
    requests:
      cpu: 0.2
      memory: 1Gi

proxy:
  image:
    name: yuvipanda/jupyterhub-k8s-proxy
    tag: v0.1
  resources:
    requests:
      cpu: 0.3
      memory: 512Mi
  labels: null

# Set this explicitly if you want to use a static allocated
# IP as the public LoadBalancer IP. Requires support by
# your Cloud Provider. GKE supports this
publicIP: null

# Google OAuth secrets
auth:
  type: dummy

token:
  proxy: 'generate with pwgen 64 and put here'

singleuser:
  extraLabels: {}
  storage:
    type: dynamic
    capacity: 10Gi
    homeMountPath: /home/jovyan
    # type: hostPath
    # homeHostPathTemplate: /data/project/paws/userhomes/{userid}
  image:
    name: yuvipanda/jupyterhub-k8s-singleuser-sample
    tag: v0.1
  cpu:
    limit: null
    guarantee: null
  memory:
    limit: null
    guarantee: null

prePuller:
  enabled: true
  image:
    name: yuvipanda/image-allnodes-puller
    tag: v0.8

cull:
  enabled: true
  timeout: 3600
  every: 600
  token: 'generate with openssl rand -hex 32 here'

statsd:
  enabled: false
  port: 8125
  host: statsd
  prefix: jupyterhub

admin:
  access: true
  users: null
