# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
#
name: Test docker multiarch build

# Trigger the workflow's on all PRs and pushes so that other contributors can
# run tests in their own forks. Avoid triggering these tests on changes to
# changes not influencing the images.
on:
  pull_request:
    paths:
      - "images/**"
      - "chartpress.yaml"
      - ".github/workflows/test-docker-build.yaml"
  push:
    paths:
      - "images/**"
      - "chartpress.yaml"
      - ".github/workflows/test-docker-build.yaml"
    branches-ignore:
      - "dependabot/**"
  workflow_dispatch:

jobs:
  # This is a quick test to check the arm64 docker images based on:
  # - https://github.com/docker/build-push-action/blob/v2.3.0/docs/advanced/local-registry.md
  # - https://github.com/docker/build-push-action/blob/v2.3.0/docs/advanced/multi-platform.md
  build_images:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install chartpress
        run: pip install chartpress

      - name: Set up QEMU (for docker buildx)
        uses: docker/setup-qemu-action@c308fdd69d26ed66f4506ebd74b180abe5362145 # dependabot updates to latest release

      - name: Set up Docker Buildx (for chartpress multi-arch builds)
        # NOTE: Updates to the actions commit hash should go hand in hand with
        #       updates in the publish workflow.
        uses: docker/setup-buildx-action@2a4b53665e15ce7d7049afb11ff1f70ff1610609 # associated tag: v1.1.2

      - name: Build a multiple architecture Docker image
        run: >-
          chartpress
          --builder docker-buildx
          --platform linux/amd64 --platform linux/arm64
