# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
#
name: Test docs

# Trigger the workflow's on all PRs and pushes so that other contributors can
# run tests in their own forks.
on:
  pull_request:
    paths:
      - "docs/**"
      - "**/values.schema.yaml"
      - "**/test-docs.yaml"
  push:
    paths:
      - "docs/**"
      - "**/values.schema.yaml"
      - "**/test-docs.yaml"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
      - "update-*"
      - "vuln-scan-*"
  workflow_dispatch:

jobs:
  linkcheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          # chartpress, used by docs/conf.py, requires git history to set
          # chart version and image tags correctly
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r docs/requirements.txt

      - name: make linkcheck
        run: |
          cd docs
          make linkcheck SPHINXOPTS='--color -W --keep-going'

      - name: summarise linkcheck issues
        if: always()
        run: |
          ./ci/summarise-linkcheck-output ./docs/_build/linkcheck/output.json
